<div class="wrapper">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="/home">
        <img src="assets/images/logo_BDMS.png" class="align-middle" style="height: 30px;">
      </a>
      <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>            
            <li class="sidebar-item">
                <a class="sidebar-link" href="home">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/users">
                <i class="align-middle" data-feather="user"></i> <span class="align-middle">Liste des utilisateurs</span>
                </a>
            </li>
            <li class="sidebar-header">
                Administration
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/jourferie">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Jour Férié</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/typeteneur">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Type Teneur</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/compteteneur">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Compte Teneur</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/tmm">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">TMM</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/devises">
                <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Devises</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/tauxcharge">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Taux Charges</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/typemarche">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Type Marche</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/commissionHE">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Commision HorsElec</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/commissionE">
                <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Commision Elec</span>
                </a>
            </li>
            <li class="sidebar-item active">
                <a class="sidebar-link" href="/categorieavoir">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Categorie d'Avoir</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/groupes">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Groupes</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/indicesectoriel">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Indice Sectoriel</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/naturereferentiel">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Nature Réferentiel</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/secteurnational">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Secteur National</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/secteurinternational">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">Secteur International</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/intermediaire">
                <i class="align-middle" data-feather="folder"></i> <span class="align-middle">intermediaire</span>
                </a>
            </li>
            <li>a</li>
            <li>bb</li>
        </ul>
    </div>
  </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>
  
        <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- Image with fallback -->
                <img [src]="getUserImagePath() || '/assets/images/default-avatar.png'"
                     class="avatar img-fluid rounded me-1"
                     style="width: 32px; height: 32px; object-fit: cover;"
                     onerror="this.onerror=null;this.src='/assets/images/default-avatar.png'">
                
                <span class="text-dark" *ngIf="user">
                  {{ user.username || user.preferred_username || user.name || 'No username' }}
                </span>
              </a>  
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                <a class="dropdown-item" href="#" (click)="logout(); $event.preventDefault()"><i class="align-middle me-1" data-feather="log-out"></i> Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

    <div class="container">
      <div class="header-container">
        <div class="header-blue-line"></div>
        <div class="header-bar">
          <h2>Liste des Catégories d’avoir</h2>
          <button class="btn-add" (click)="openSignupModal()">
            <span class="add-icon">+</span> Ajouter une Catégorie
          </button>
          <button class="btn-add" (click)="generatePDF()">
            <i class="pi pi-file-pdf"></i> Exporter en PDF
          </button>
        </div>
      </div>


      <div class="card shadow-sm card-square bg-white">
        <div class="card-body">
          <div class="search-wrapper">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Recherche…"
              class="form-control form-control-sm"
              [(ngModel)]="searchTerm" />
          </div>
          <p-table [value]="filteredCategories"
                   [paginator]="true"
                   [rows]="10"
                   [rowsPerPageOptions]="[5, 10, 20]"
                   tableStyleClass="table table-striped mb-0"
                   headerStyleClass="bg-primary text-white"
                   [responsiveLayout]="'scroll'">

            <ng-template pTemplate="header">
              <tr>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Code BVMT
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Code NSC
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 180px;">
                  Code Optique
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Code TC
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Libellé (FR)
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 160px;">
                  Libellé C (FR)
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Libellé (AR)
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 160px;">
                  Libellé C (AR)
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Libellé (EN)
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 160px;">
                  Libellé C (EN)
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Taux CTB
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 150px;">
                  Taux RUS
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 170px;">
                  Taux CEB_ENR
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 180px;">
                  Taux RUS_ENR
                </th>
                <th class="position-relative" style="white-space: nowrap; max-width: 130px;">
                  Modifier
                </th>
                <th>Supprimer</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cat>
              <tr>
                <td>{{ cat.codeBVMT }}</td>
                <td>{{ cat.codeNSC }}</td>
                <td>{{ cat.codeOptique }}</td>
                <td>{{ cat.codeTc }}</td>
                <td>{{ cat.libellefr }}</td>
                <td>{{ cat.libellecourtefr }}</td>
                <td>{{ cat.libellear }}</td>
                <td>{{ cat.libellecourtear }}</td>
                <td>{{ cat.libelleen }}</td>
                <td>{{ cat.libellecourteen }}</td>
                <td>{{ cat.tauxreductionCTB }}</td>
                <td>{{ cat.tauxreductionRUS }}</td>
                <td>{{ cat.tauxreductionCEB_ENR }}</td>
                <td>{{ cat.tauxreductionRUS_ENR }}</td>
                <td>
                  <button class="btn btn-light btn-sm me-2" (click)="editCategorie(cat)">
                    <i class="pi pi-pencil" style="font-size:1.1rem;color:#0d6efd;"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-light btn-sm" (click)="confirmDelete(cat.id)">
                    <i class="pi pi-trash" style="font-size:1.1rem;color:#dc3545;"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" [draggable]="false" [resizable]="false"
      [header]="isEdit ? 'Modifier Catégorie' : 'Ajouter Catégorie'">
      <form [formGroup]="categorieForm" (ngSubmit)="confirmSave()">
        <div class="row">
          <div class="col-md-6 mb-3" *ngFor="let key of ['codeBVMT', 'codeNSC', 'codeOptique', 'codeTc', 'libellefr', 'libellecourtefr', 'libellear', 'libellecourtear', 'libelleen', 'libellecourteen']">
            <label class="form-label">{{ key }}</label>
            <input type="text" class="form-control" [formControlName]="key" />
          </div>
          <div class="col-md-6 mb-3" *ngFor="let key of ['tauxreductionCTB', 'tauxreductionRUS', 'tauxreductionCEB_ENR', 'tauxreductionRUS_ENR']">
            <label class="form-label">{{ key }}</label>
            <input type="number" class="form-control" [formControlName]="key" />
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-success" [disabled]="categorieForm.invalid">
            {{ isEdit ? 'Modifier' : 'Ajouter' }}
          </button>
        </div>
      </form>
    </p-dialog>

    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
  </div>
</div>
