<div class="wrapper">
  <nav id="sidebar" class="sidebar js-sidebar">
      <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="/home">
      <span class="align-middle">BDMS</span>
  </a>
          <ul class="sidebar-nav">
              <li class="sidebar-header">
                  Pages
              </li>            
              <li class="sidebar-item active">
                  <a class="sidebar-link" href="home">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link" href="/users">
                  <i class="align-middle" data-feather="user"></i> <span class="align-middle">Liste des utilisateurs</span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
  
  <div class="main">
  <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
      <i class="hamburger align-self-center"></i>
          </a>
  
  <div class="navbar-collapse collapse">
      <ul class="navbar-nav navbar-align">
          <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="mobileDropdown">
                  <i class="align-middle" data-feather="settings"></i>
              </a>
              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="desktopDropdown">
                  <img src="assets/assetsF/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> 
                  <span class="text-dark">Charles Hall</span>
              </a>     
              <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                  <a class="dropdown-item" href="#" (click)="logout(); $event.preventDefault()">
                      <i class="align-middle me-1" data-feather="log-out"></i> Log out
                    </a>
                                
              </div>
          </li>
      </ul>
  </div>
  </nav>
  
  <div class="col-lg-12">
    <div class="signup-wrapper">
      <div class="form-wrapper">
        <h6 class="mb-15">Sign Up Form</h6>
        <p class="text-sm mb-25">
          Start creating the best possible user experience for you
          customers.
        </p>
      </div>
    </div>
  </div>
  
  <footer class="footer">
      <div class="container-fluid">
          <div class="row text-muted">
              <div class="col-6 text-start">
                  <p class="mb-0">
                      <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> - <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>Bootstrap Admin Template</strong></a>								&copy;
                  </p>
              </div>
              <div class="col-6 text-end">
                  <ul class="list-inline">
                      <li class="list-inline-item">
                          <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                      </li>
                      <li class="list-inline-item">
                          <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                      </li>
                      <li class="list-inline-item">
                          <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                      </li>
                      <li class="list-inline-item">
                          <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
  </div>
  </div>